.About {
    height: 100%;
    font-family: var(--font1);
    background-color: var(--cor1);
    color: white;
}

.info {
    padding: 100px 0px 80px;
}

.info h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    
}

.info h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
}

.info-grid {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.grid1 {
    padding: 30px;
    width: 400px;

}

/* RESPONSIVIDADE MOBILE */
@media only screen and (max-width: 1000px) {

.info {
    padding: 100px 0px;
    text-align: center;
    width: 100%;
}

.info h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3em;
    padding-bottom: 20px;
    
}

.info h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.info-grid {
    padding-bottom: 100px;
    display: block;
    align-items: center;
}

.grid1 {
    padding: 30px;
    width: auto;
    text-align: center;
    align-items: center;

}
    
}