.integracao {
    display: flex;
    justify-content: center;
    
}

.integracao-lista{
    display: block;
    padding: 80px 40px;
    
}

.integracao-lista h1 {
    padding: 50px 0px 30px;
    font-family: var(--font1);
    font-size: 3em;
}

.integracao-lista p {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 1.2em;
}

.lista {
    padding: 10px;
    display: flex;
    align-items: center;
    
    
}

.lista img {
    padding-right: 10px;
    
}

#img-formulario {
    padding: 80px;
}

 /* RESPONSIVIDADE MOBILE */
 @media only screen and (max-width: 1000px) {

.integracao {
    display: block;
    text-align: center;          
}

.integracao img {
    align-items: center;
}

#img-formulario {
    padding: 50px 0px 0px;
    width: 300px;    
}

.lista p {
    text-align: left;
}



 }


