.depoimentos h1 {
    padding: 30px 0px;
    font-size: 1.2em;
    font-weight: 435;
    color: rgba(0, 119, 192, 1);

}

.depoimentos h2 {
    padding: 50px 0px;
    font-size: 3em;
}

.depoimento-total {
    padding: 100px;
    text-align: center;
}

.depoimento-cards {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}

.depoimento-cards div {
    height: 300px;
    padding: 30px;
    width: 400px;
}

.depoimento-cards div p {
    font-size: 16px;
}

 /* RESPONSIVIDADE MOBILE */
 @media only screen and (max-width: 1000px) {

.depoimento-total {
    padding: 50px 0px;
    text-align: center;
    
}

.depoimento-cards {
    align-items: center;
    display: block;
    text-align: center;
    
}

.depoimento-cards div {
    text-align: left;
    height: 100%;
    padding: 30px 30px;
    width: 300px;
}

.depoimentos h1 {
    padding: 10px 0px;
    font-size: 1.2em;
    font-weight: 435;
    color: rgba(0, 119, 192, 1);

}

}

