footer {
    color: white;
    background-color: rgba(29, 36, 43, 1);    
}

footer h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-detalhes {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
}

.coluna {
    padding: 20px 50px 20px 50px;
}
.coluna h1 {
    padding-bottom: 15px;
}

.footer-informacoes {
    padding: 30px;

}

.footer-informacoes p {
    padding-top: 50px;
}

.footer-logo {
    padding: 30px;

}

.footer-social-icon {
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
}
.fim {
    padding-bottom: 20px;
    text-align: center;
}

/* RESPONSIVIDADE MOBILE */
@media only screen and (max-width: 1000px) {

footer {
    color: white;
    display: block;
    background-color: rgba(29, 36, 43, 1);

}

.footer-informacoes {
    text-align: left;
    padding: 30px 50px;
}

.footer-detalhes {
    padding: 30px 50px 50px;
    display: block;
}

.footer-detalhes h1 {
    padding: 0px;
}

.footer-detalhes address {
    padding-bottom: 20px;
}

.footer-detalhes p {
    text-align: left;
    padding-bottom: 40px;
}
.footer-logo {
    padding: 20px 0px;
}

.coluna {
    padding: 0;
}
footer p {
    text-align: center;
}
.footer {
    display: block;
    
}
.fim {
    padding-bottom: 20px;
    text-align: center;
}

}




