



.media h1 {
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--cor1);
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    padding: 100px 0px 30px ;

}

.media p {
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.1em;
    padding-bottom: 100px;
}

.imgdovideo {
    text-align: center;
    
}