#h1 {
    padding: 50px 0px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    background-image: linear-gradient(90deg, rgba(62,225,252,1) 30%, rgba(62,130,252,1) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#h2 {
    padding: 50px 0px;
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    color: var(--cor1);
}



.imgrecepcao1 {
    height: 300px;
    width: 300px;
    text-align: center;
    font-weight: 400;
    
    
}


.imgrecepcao img {
    padding: 0px 50px;
    opacity: 40%;
    
}

.imgrecepcao {
    padding: 50px 0px ;
    display: flex;
    justify-content: center;
    align-items: baseline;
}


