@media screen and (max-width: 900px) {
    header {
        height: 96vh;
        background-color: var(--cor1);
        
    }

    .menu {
       padding-left: 35px; 
    }
    .menu nav a {
        display: none;
    }
    .menu img {
        max-width: 250px;
        padding-left: 0px;
        
    }
    
    .ti {
        display: block;
    }
    .h1 {
        color: white;
        display: block;
        font-family: 'Poppins', Arial, sans-serif;
        padding: 30px;
        
    }
    .h1 p {
            font-family: 'Poppins', Arial, sans-serif;
            font-weight: 500;
            font-size: large;
            padding: 40px 0px 40px;
            margin: 0px;
        
        }
    .imagem {
        display: none
        
    }

    .imagempq {
        display: block;
        margin: auto;
        
            
    }

    .imagempq img {
        width: 100%;
    }

    .media h1{
        padding-top: 300px;
        font-size: 40px;
        line-height: 40px;
    }    

    .media p {
        padding: 0px 20px 50px;
    }
    
    #h1 {
        padding: 50px 0px 0px;
        font-size: 25px;
    }

    #h2 {
        padding: 0px 0px 50px;
        font-size: 50px;
    }

    .imgdovideo img {
        width: 430px;
        text-align: center;
        
    }

    .imgrecepcao {
        padding: 50px 0px ;
        display: block;
        justify-content: center;
        align-items: baseline;
    } 

    .imgrecepcao1 {
        height: 300px;
        width: 300px;
        text-align: center;
        font-weight: 400;
        margin: auto;    
    }

    .h1solto {
        font-size: 60px;
    }

    .beneficios {
        display: block;
            
    }

    .beneficios1 {
        padding: 35px;
        height: 320px;
        width: 350px;
            
    }

    .beneficiosimportante {
        margin: auto;
        width: 100%;
        background-color: var(--cor1);
    }

    .beneficiosp {
        margin-top: 0px;
    }

    .beneficiosp p {
        width: 350px;
        display: block;
        color: white;
        font-size: 1em;
        font-style: italic;
        justify-content: center;
           
    }

    .clientesperfil img {
        width: 400px;
        
           
    }

    .final {
        margin: auto;
        padding-top: 40px;
        width: 350px;
        background-color: rgba(236, 243, 255, 1);
        display: block;  
        text-align: center;
    }

    .esquerda {
        margin: auto;
        display: block;
        height: 180px;
        width: 240px;
        text-align: center;
        
    }
    
    .direita {
        margin: auto;
        display: block;
        height: 180px;
        width: 240px;
        text-align: center;
        
    }

    .final2 {
        margin: auto;
        width: 350px;
        background-color: rgba(236, 243, 255, 1);
        display: block;
    }

    .final2 p {
        text-align: center;
    }

    .direita2 {
        text-align: right;
        margin: auto;
        font-size: 1.7em;
        font-weight: 600;
    
    
    }
    
    .direita2 p {
        padding-bottom: 30px;
    
    }

    .direita2 button {
        display: flex;
        margin: auto;
        justify-content: center;
        
    }
    
    .button-27 {
        appearance: none;
        background-color: var(--cor1);
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: 'Poppins', Arial, sans-serif ;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: auto;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 300px;
        will-change: transform;
      }
    
    .button-27:disabled {
        pointer-events: none;
      }
      
      .button-27:hover {
        color: var(--cor1);
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
      
      .button-27:active {
        box-shadow: none;
        transform: translateY(0);
      }
    
      .esquerda img {
        margin: 0;
        width: 250px;
        text-align: left;
       
    }

    .esquerda2 {
        padding-top: 20px;
        margin: auto;
        text-align: center;
    }
    
    .esquerda2 p {
        padding-top: 55px;
    }
}
