footer {
    background-color: rgba(236, 243, 255, 1);
    ;
}
.final {
    padding-top: 40px;
    background-color: rgba(236, 243, 255, 1);
    display: flex;
    justify-content: space-evenly;
    
}

.final h1 {
    margin: auto;
    color: rgba(62, 130, 252, 1);
    font-weight: 700;
    line-height: 35px;
}

.esquerda {
    width: 240px;
    text-align: left;
}

.direita {
    height: 180px;
    width: 240px;
    text-align: right;
}

.final2 {
    padding: 20px;
    background-color: rgba(236, 243, 255, 1);
    display: flex;
    justify-content: space-evenly;
}

.direita2 {
    text-align: right;
    font-size: 1.7em;
    font-weight: 600;


}

.reg {
    padding-top: 150px;
    text-align: center;
}

.direita2 p {
    padding-bottom: 30px;

}

.button-27 {
    appearance: none;
    background-color: var(--cor1);
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', Arial, sans-serif ;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
    will-change: transform;
  }

.button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    color: var(--cor1);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .esquerda2 {
    text-align: left;
    
}

.esquerda2 p {
    padding-top: 85px;
}


/* RESPONSIVIDADE MOBILE */
@media only screen and (max-width: 1000px) {

    .final {
        margin: auto;
        padding-top: 40px;
        width: 350px;
        background-color: rgba(236, 243, 255, 1);
        display: block;  
        text-align: center !important;
    }

    .esquerda {
        margin: auto;
        display: block;
        height: 180px;
        width: 240px;
        text-align: center !important;
        padding-left: 0px !important;
        
    }
    
    .direita {
        margin: auto;
        display: block;
        height: 180px;
        width: 240px;
        text-align: center !important;
        
    }

    .final {
        display: block !important;
    }

    .final2 {
        margin: auto;
        width: 350px;
        background-color: rgba(236, 243, 255, 1);
        display: block !important;
    }

    .final2 p {
        text-align: center;
    }

    .direita2 {
        text-align: right;
        margin: auto;
        font-size: 1.7em;
        font-weight: 600;
    
    
    }
    
    .direita2 p {
        padding-bottom: 30px;
        padding-top: 80px;
    
    }

    .direita2 button {
        display: flex;
        margin: auto;
        justify-content: center;
        
    }
    
    .button-27 {
        appearance: none;
        background-color: var(--cor1);
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: 'Poppins', Arial, sans-serif ;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: auto;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 300px;
        will-change: transform;
      }
    
    .button-27:disabled {
        pointer-events: none;
      }
      
      .button-27:hover {
        color: var(--cor1);
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
      
      .button-27:active {
        box-shadow: none;
        transform: translateY(0);
      }
    
      .esquerda img {
        margin: 0;
        width: 250px;
        text-align: left;
       
    }

    .esquerda2 {
        padding-top: 20px;
        margin: auto;
        text-align: center !;
    }

    
    .esquerda2 p {
        padding-top: 55px;
    }

}

@media only screen and (max-width: 1280px) {
    footer {
        background-color: rgba(236, 243, 255, 1);
        ;
    }
    
    .final h1 {
        margin: auto;
        color: rgba(62, 130, 252, 1);
        font-weight: 700;
        line-height: 35px;
    }
    

    .final2 img {
        width: 50px;
        padding: 15px 0px;
    }

    
    
    .button-27 {
        appearance: none;
        background-color: var(--cor1);
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: 'Poppins', Arial, sans-serif ;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 300px;
        will-change: transform;
      }
    
    .button-27:disabled {
        pointer-events: none;
      }
      
      .button-27:hover {
        color: var(--cor1);
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
      
      .button-27:active {
        box-shadow: none;
        transform: translateY(0);
      }
    
      .esquerda2 {
        text-align: left;
        padding-left: 80px;
        padding-top: 50px;
        width: 100%;
        
    }
    
    .esquerda2 p {
        padding-top: 85px;
        text-align: center;
    }
}