@media only screen and (max-width: 1000px) {

    .media h1{
        padding-top: 300px;
        font-size: 40px;
        line-height: 40px;
    }    

    .media p {
        padding: 0px 20px 50px;
    }
    
    #h1 {
        padding: 50px 0px 0px;
        font-size: 25px;
    }

    #h2 {
        padding: 0px 0px 50px;
        font-size: 50px;
    }

    .imgdovideo img {
        width: 430px;
        text-align: center;
        
    }

    .imgrecepcao {
        padding: 50px 0px ;
        display: block;
        justify-content: center;
        align-items: baseline;
    } 

    .imgrecepcao1 {
        height: 300px;
        width: 300px;
        text-align: center;
        font-weight: 400;
        margin: auto;    
    }

    .h1solto {
        font-size: 60px;
    }

    .beneficios {
        display: block !important;
            
    }

    .beneficios1 {
        padding: 35px;
        height: 320px;
        width: 350px;
            
    }

    .beneficiosimportante {
        margin: auto;
        width: 100%;
        background-color: var(--cor1);
    }

    .beneficiosp {
        margin-top: 0px;
    }

    .beneficiosp p {
        width: 350px;
        display: block;
        color: white;
        font-size: 1em;
        font-style: italic;
        justify-content: center;
           
    }

    .clientesperfil img {
        width: 400px;
        
           
    }

}
